/*
           _              ____             _    
  ___ ___ | | ___  _ __  |  _ \  __ _ _ __| | __
 / __/ _ \| |/ _ \| '__| | | | |/ _` | '__| |/ /
| (_| (_) | | (_) | |    | |_| | (_| | |  |   < 
 \___\___/|_|\___/|_|    |____/ \__,_|_|  |_|\_\
*/
  
/* semantic-color */
:root
 {
  
/* Common Backgrounds */
  --bg-common-higher: var(--neutral-10);
  --bg-common-high: var(--neutral-50);
  --bg-common-low: var(--neutral-200);
  --bg-common-default: var(--neutral-800);
  --bg-common-lower: var(--neutral-700);
  --bg-common-transparent: var(--static-Transparent);
  --bg-common-hover: var(--neutral-800);
  --bg-common-active: var(--neutral-200);
  --bg-common-selected: var(--primary-400);
  --bg-common-selected-hover: var(--primary-300);
  --bg-common-selected-inverse: var(--primary-50);
  --bg-common-disabled: var(--neutral-800);
  --bg-common-body: var(--neutral-800);
  
/* Primary Backgrounds */
  --bg-primary-higher: var(--primary-50);
  --bg-primary-default: var(--primary-75);
  --bg-primary-high: var(--primary-200);
  --bg-primary-low: var(--primary-400);
  --bg-primary-lower: var(--primary-500);
  
/* Secondary Backgrounds */
  --bg-secondary-higher: var(--neutral-60);
  --bg-secondary-default: var(--neutral-30);
  --bg-secondary-high: var(--neutral-40);
  --bg-secondary-low: var(--neutral-20);
  --bg-secondary-lower: var(--neutral-10);
  
/* Neutral Backgrounds */
  --bg-neutral-higher: var(--grey-50);
  --bg-neutral-default: var(--grey-75);
  --bg-neutral-high: var(--grey-300);
  --bg-neutral-low: var(--grey-400);
  --bg-neutral-lower: var(--grey-500);
  
/* Tertiary Backgrounds */
  --bg-tertiary-higher: var(--purple-50);
  --bg-tertiary-default: var(--purple-75);
  --bg-tertiary-high: var(--purple-300);
  --bg-tertiary-low: var(--purple-400);
  --bg-tertiary-lower: var(--purple-500);
  
/* Status Backgrounds */
  --bg-danger-higher: var(--red-50);
  --bg-danger-default: var(--red-75);
  --bg-danger-high: var(--red-300);
  --bg-danger-low: var(--red-400);
  --bg-danger-lower: var(--red-500);
  --bg-info-higher: var(--blue-50);
  --bg-info-default: var(--blue-75);
  --bg-info-high: var(--blue-300);
  --bg-info-low: var(--blue-400);
  --bg-info-lower: var(--blue-500);
  --bg-success-higher: var(--green-50);
  --bg-success-default: var(--green-75);
  --bg-success-high: var(--green-300);
  --bg-success-low: var(--green-400);
  --bg-success-lower: var(--green-500);
  --bg-warning-higher: var(--yellow-50);
  --bg-warning-default: var(--yellow-75);
  --bg-warning-high: var(--yellow-300);
  --bg-warning-low: var(--yellow-400);
  --bg-warning-lower: var(--yellow-500);
  
/* Common Foregrounds */
  --fg-common-higher: var(--neutral-30);
  --fg-common-default: var(--neutral-10);
  --fg-common-high: var(--neutral-50);
  --fg-common-low: var(--neutral-70);
  --fg-common-lower: var(--neutral-300);
  --fg-common-icon: var(--neutral-50);
  --fg-common-hover: var(--neutral-10);
  --fg-common-selected: var(--primary-50);
  --fg-common-selected-inverse: var(--primary-500);
  --fg-common-disabled: var(--neutral-300);
  --fg-common-inverse: var(--neutral-600);
  
/* Primary Foregrounds */
  --fg-primary-higher: var(--primary-50);
  --fg-primary-default: var(--primary-75);
  --fg-primary-high: var(--primary-100);
  --fg-primary-low: var(--primary-400);
  --fg-primary-lower: var(--primary-500);
  --fg-primary-inverse: var(--primary-600);
  
/* Neutral Foregrounds */
  --fg-neutral-higher: var(--grey-50);
  --fg-neutral-default: var(--grey-75);
  --fg-neutral-high: var(--grey-300);
  --fg-neutral-low: var(--grey-400);
  --fg-neutral-lower: var(--grey-500);
  --fg-neutral-inverse: var(--grey-700);
  
/* Secondary Foregrounds */
  --fg-secondary-higher: var(--neutral-10);
  --fg-secondary-default: var(--neutral-20);
  --fg-secondary-high: var(--neutral-50);
  --fg-secondary-low: var(--neutral-80);
  --fg-secondary-lower: var(--neutral-600);
  --fg-secondary-inverse: var(--neutral-900);
  
/* Tertiary Foregrounds */
  --fg-tertiary-higher: var(--purple-50);
  --fg-tertiary-default: var(--purple-75);
  --fg-tertiary-high: var(--purple-100);
  --fg-tertiary-low: var(--purple-400);
  --fg-tertiary-lower: var(--purple-500);
  --fg-tertiary-inverse: var(--purple-600);
  
/* Status Foregrounds */
  --fg-danger-higher: var(--red-50);
  --fg-danger-default: var(--red-75);
  --fg-danger-high: var(--red-100);
  --fg-danger-low: var(--red-400);
  --fg-danger-lower: var(--red-500);
  --fg-danger-inverse: var(--red-600);
  --fg-info-higher: var(--blue-50);
  --fg-info-default: var(--blue-75);
  --fg-info-high: var(--blue-100);
  --fg-info-low: var(--blue-400);
  --fg-info-lower: var(--blue-500);
  --fg-info-inverse: var(--blue-600);
  --fg-success-higher: var(--green-50);
  --fg-success-default: var(--green-75);
  --fg-success-high: var(--green-100);
  --fg-success-low: var(--green-400);
  --fg-success-lower: var(--green-500);
  --fg-success-inverse: var(--green-600);
  --fg-warning-higher: var(--yellow-50);
  --fg-warning-default: var(--yellow-75);
  --fg-warning-high: var(--yellow-100);
  --fg-warning-low: var(--yellow-400);
  --fg-warning-lower: var(--yellow-500);
  --fg-warning-inverse: var(--yellow-600);
  
/* Common Borders */
  --bd-common-higher: var(--neutral-10);
  --bd-common-high: var(--neutral-50);
  --bd-common-low: var(--neutral-100);
  --bd-common-lower: var(--neutral-400);
  --bd-common-default: var(--neutral-500);
  --bd-common-inverse: var(--neutral-900);
  --bd-common-main: var(--neutral-100);
  --bd-common-hover: var(--neutral-50);
  --bd-common-disabled: var(--neutral-400);
  
/* Primary Borders */
  --bd-primary-higher: var(--primary-50);
  --bd-primary-default: var(--primary-75);
  --bd-primary-high: var(--primary-100);
  --bd-primary-low: var(--primary-200);
  --bd-primary-lower: var(--primary-300);
  
/* Secondary Borders */
  --bd-secondary-higher: var(--neutral-20);
  --bd-secondary-default: var(--neutral-50);
  --bd-secondary-high: var(--neutral-70);
  --bd-secondary-low: var(--neutral-300);
  --bd-secondary-lower: var(--neutral-600);
  
/* Neutral Borders */
  --bd-neutral-higher: var(--grey-50);
  --bd-neutral-default: var(--grey-75);
  --bd-neutral-high: var(--grey-300);
  --bd-neutral-low: var(--grey-400);
  --bd-neutral-lower: var(--grey-500);
  
/* Tertiary Borders */
  --bd-tertiary-higher: var(--purple-50);
  --bd-tertiary-default: var(--purple-75);
  --bd-tertiary-high: var(--purple-100);
  --bd-tertiary-low: var(--purple-400);
  --bd-tertiary-lower: var(--purple-500);
  
/* Status Borders */
  --bd-danger-higher: var(--red-50);
  --bd-danger-default: var(--red-75);
  --bd-danger-high: var(--red-100);
  --bd-danger-low: var(--red-400);
  --bd-danger-lower: var(--red-500);
  --bd-info-higher: var(--blue-50);
  --bd-info-default: var(--blue-75);
  --bd-info-high: var(--blue-100);
  --bd-info-low: var(--blue-400);
  --bd-info-lower: var(--blue-500);
  --bd-success-higher: var(--green-50);
  --bd-success-default: var(--green-75);
  --bd-success-high: var(--green-100);
  --bd-success-low: var(--green-400);
  --bd-success-lower: var(--green-500);
  --bd-warning-higher: var(--yellow-50);
  --bd-warning-default: var(--yellow-75);
  --bd-warning-high: var(--yellow-100);
  --bd-warning-low: var(--yellow-400);
  --bd-warning-lower: var(--yellow-500);
  
/* Focus States */
  --focus-on-low-offset: var(--bg-primary-default);
  --focus-on-low-focus-inset: var(--bg-common-lower);
  --focus-on-high-offset: var(--bg-primary-lower);
  --focus-on-high-focus-inset: var(--bg-common-higher);
}