$alert-types: (
        "critical": (
                "foreground": var(--color-foreground-danger-primary),
                "background": var(--color-background-danger-secondary),
                "border": var(--color-border-danger-primary),
        ),
        "danger": (
                "foreground": var(--color-foreground-danger-secondary),
                "background": var(--color-background-danger-primary),
                "border": var(--color-border-danger-secondary),
        ),
        "warning": (
                "foreground": var(--color-foreground-warning-primary),
                "background": var(--color-background-warning-secondary),
                "border": var(--color-border-warning-primary),
        ),
        "success": (
                "foreground": var(--color-foreground-success-primary),
                "background": var(--color-background-success-secondary),
                "border": var(--color-border-success-primary),
        ),
        "informative": (
                "foreground": var(--color-foreground-informative-primary),
                "background": var(--color-background-informative-secondary),
                "border": var(--color-border-informative-primary),
        ),
        "discovery": (
                "foreground": var(--color-foreground-brand-primary),
                "background": var(--color-background-brand-secondary),
                "border": var(--color-border-brand-primary),
        ),
);

.Alert {
  font-family: var(--font-family);
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-s);
  display: flex;
  flex-direction: column;
  position: relative;

  @each $type, $colors in $alert-types {
    &--#{$type} {
      color: var(--color-foreground-tertiary);
      background-color: map-get($colors, "background");

      &.Alert--outline {
        background-color: transparent;
        border: 1px solid map-get($colors, "border");
        color: map-get($colors, "foreground");
      }
    }
  }

  &__title {
    font-size: 14px;
    line-height: 20px;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-xs);
  }

  &__content {
    font-size: 14px;
    line-height: 20px;
    font-weight: var(--font-weight-regular);
    margin-bottom: var(--spacing-xs);

    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: var(--spacing-s);
    margin-top: 2px;
  }

  &__close {
    position: absolute;
    top: var(--spacing-s);
    right: var(--spacing-s);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
}